<!--The content below is only a placeholder and can be replaced.-->
<form #userinfo = "ngForm" (ngSubmit) = "onClickSubmit(userinfo.value)" style="margin-left: 30px;margin-right: 30px;margin-top: 30px">
	<label class="text-muted">First Name : </label>
	<input type="text" class="form-control" name = "fname" ngModel #refrence>
	<br>
	<label class="text-muted">Last Name : </label>
	<input type="text" class="form-control" name = "lname" ngModel #refrence1>
	<br>
	<label class="text-muted">Address : </label>
	<input type="text" class="form-control" name = "addr"  #refrence2 ngModel>
	<span *ngIf = "refrence2.value | filter; then condition1 else condition2">
   </span>
   <ng-template #condition1></ng-template>
   <ng-template #condition2 ><font color="red" size="2">Address should be numeric</font></ng-template>
   <br>
	<input type="submit" class="btn btn-success" style="margin:10px" value="Submit" >
</form>
<button class="btn btn-warning" style="margin: 10px; margin-left: 40px" (click)="refrence.value=null; refrence1.value=null; refrence2.value=null">Clear Input</button><br>
<button class="btn btn-danger" style="margin: 10px; margin-left: 40px" (click)="clearTable()">Clear Table</button>

<app-child [Jarr]="jsonArr"></app-child>
