<table class="table table-hover">
	<thead>
		<tr>
			<th (click)="sortTable(0)" style="cursor:pointer">First Name</th>
			<th (click)="sortTable(1)" style="cursor:pointer">Last Name</th>
			<th (click)="sortTable(2)" style="cursor:pointer">Address</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let x of Jarr">
			<td>{{x.fname}}</td>
			<td>{{x.lname}}</td>
			<td>{{x.addr}}</td>
		</tr>
	</tbody>
</table>
<br>